{% extends 'home.html' %}
{% block content %}
    <br><br>
    
    <form action="/aulas/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
         <!-- <input type="submit" value="Crear Aula" onclick="alert('Creaste un Aula')"> -->
        <input type="submit" value="Crear Aula">
    </form>
    <br><br>
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message | safe }}
    </div>
    {% endfor %}
{% endblock %}