{% extends 'home.html' %}
{% block content %}
    <br><br>
    <h1>Aulas Libres</h1>
    <table border="1" width="600">
    <tr>
    <td><b>Aula</b></td>
    <td><b>Dia</b></td>
    <td><b>Turno</b></td>
    <td><b>Piso</b></td>
    <td><b>Capacidad</b></td>

    </tr>

    {% for aulasinuso in allaulasinuso %}
    <tr>
    <td>{{ aulasinuso.nombre }}</td>
    <td>{{ aulasinuso.dia }}</td>
    <td>{{ aulasinuso.turno }}</td>
    <td>{{ aulasinuso.piso }}</td>
    <td>{{ aulasinuso.capacidad }}</td>

    </tr>
    {% endfor %}
    </table>
    <br><br>
{% endblock %}


