{% extends 'home.html' %}
{% block content %}
    <br><br>
    <h1>Cursadas</h1>
    <table border="1" width="600">
    <tr>
    <td><b>Materia</b></td>
    <td><b>Carrera</b></td>
    <td><b>Turno</b></td>
    <td><b>Comision</b></td>
    <td><b>Inscriptos</b></td>

    </tr>

    {% for cursadas in allcursadas %}
    <tr>
    <td>{{ cursadas.nombremat }}</td>
    <td>{{ cursadas.carrera }}</td>
    <td>{{ cursadas.turno }}</td>
    <td>{{ cursadas.comision }}</td>
    <td>{{ cursadas.cantalumnos }}</td>

    </tr>
    {% endfor %}
    </table>
    <br><br>
{% endblock %}


