{% extends 'home.html' %}
{% block content %}
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://drvic10k.github.io/bootstrap-sortable/Contents/bootstrap-sortable.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js"></script>
    <script src="https://drvic10k.github.io/bootstrap-sortable/Scripts/bootstrap-sortable.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>
    <br><br> 
    <h1>Planificacion</h1>
    <table class="table table-bordered sortable" border="1" width="600">
    <tr>
        <thead>
    <td><b>Carrera</b></td>
    <td><b>Turno</b></td>
    <td><b>Comision</b></td>
    <td><b>Materia</b></td>
    <td><b>Dia</b></td>
    <td><b>Aula</b></td>
    <td><b>Piso</b></td>
        </thead>   

    </tr>

    {% for planificacion in cronograma %}
    <tr>
    <td>{{ planificacion.carrera }}</td>
    <td>{{ planificacion.turno }}</td>
    <td>{{ planificacion.comision }}</td>
    <td>{{ planificacion.nombremat }}</td>
    <td>{{ planificacion.dia }}</td>
    <td>{{ planificacion.aula }}</td>
    <td>{{ planificacion.piso }}</td>
    </td>
    </tr>
    {% endfor %}
    </table>
    <br><br>
{% endblock %}
