{% extends 'home.html' %}
{% block content %}
<head>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://drvic10k.github.io/bootstrap-sortable/Contents/bootstrap-sortable.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js"></script>
      <script src="https://drvic10k.github.io/bootstrap-sortable/Scripts/bootstrap-sortable.js"></script>
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  
  </head>
    <br><br>
    <h1>Materias sin aula</h1>
    <table data-toggle="table" class="table table-bordered sortable" border="1" width="600">
        <thead>
            <tr>
                <th><b>Materia</b></th>
                <th><b>Carrera</b></th>
                <th><b>Turno</b></td>
                <th><b>Comision</b></th>
                <th><b>Inscriptos</b></th>

            </tr>
        </thead>
    {% for cursadasinaula in allcursadassinaula %}
    <tr>
    <td>{{ cursadasinaula.nombremat }}</td>
    <td>{{ cursadasinaula.carrera }}</td>
    <td>{{ cursadasinaula.turno }}</td>
    <td>{{ cursadasinaula.comision }}</td>
    <td>{{ cursadasinaula.cantalumnos }}</td>


    </tr>
    {% endfor %}
    </table>
    <br><br>
{% endblock %}
